#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/49e33a4d-7a2a-45ce-8e62-16261c4a41a9/ # 
title: M3Input
/customerCreate:
  description: creation of a customer
  post:
    body:
      application/json:
        example:
          {
"ID": 1,
"FirstName": "Bob",
"LastName": "Frederick",
"DOB": "06/21/1980",
"Gender": "M",
"Title": "Manager",
"AddressType": "home",
"HomeNumber": "2222",
"Street": "S north St",
"Unit": "2 b",
"City": "Somewhere",
"State": "DC",
"Zipcode": "12345",
"Email": "bfe@sample.com",
"PhoneNumber": "304-555-8282"
}
    responses:
      200:
        body:
          application/json:
            example:
              {
                "status": 200
              }
      404:
        body:
          application/json:
            example:
              {
                "status": 404
              }
/GetCustomer:
  description: Getting Customer
  get:
    queryParameters:
      Id:
        required: true
        example: "1113"
    responses:
      200:
        body:
          application/json:
            example:
              {
            "name": "kass",
            "adress": "USA",
            "phoneNumber": 123456
          }
      500:
        body:
          application/json:
            example:
              {
                "status": 500
              }
/UpdatingCustomer:
  description: Updating customer
  /{CustomerId}:
    put:
      queryParameters:
        Field:
          required: false
          example: String
          maxLength: 20
        Value:
          required: false
          example: String
      responses:
        200:
          body:
            application/json:
              examples:
                {
                  "status": 200
                }
        500:
          body:
            application/json:
              examples:
                {
                  "internal error": 500
                } 
/CustomerDelete:
  description: Deleting Customer
  /{CustomerId}:
    delete:
      responses:
        200:
          body:
            application/json:
              examples:
                {
                  "status": 200
                }
        500:
          body:
            application/json:
              examples:
                {
                  "internal error": 500
                }
        
            


        
    
      





    
    

              
            
            

          
      
    